<h1>Restaurants</h1>

<div class="padded">
  <hr>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-3 col-sm-2 col-sm-offset-2 text-justify">
        <h4>Name</h4>
      </div>
      <div class="col-xs-3 col-sm-2 col-sm-offset-2 text-justify">
        <h4>Address</h4>
      </div>
      <div class="col-xs-3 col-sm-2 col-sm-offset-2 text-justify">
        <h4>Category</h4>
      </div>
    </div>
    <% @restaurants.each do |restaurant| %>

    <div class="row">
      <div class="col-xs-3 col-sm-2 col-sm-offset-2 text-justify">
        <%= link_to restaurant_path(restaurant) do %>
              <p><%= restaurant.name %></p>
            <% end %>
      </div>
      <div class="col-xs-3 col-sm-2 col-sm-offset-2 text-justify">
        <p><%= restaurant.address %></p>
      </div>
      <div class="col-xs-3 col-sm-2 col-sm-offset-2 text-justify">
        <p><%= restaurant.category %></p>
        <% if restaurant.user_id == @user.id%>
          <%= link_to "Edit", edit_creator_restaurant_path(restaurant) %>
          <%= link_to "Delete", creator_restaurant_path(restaurant),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <hr>
</div>

<%= link_to new_restaurant_path do %>
  <div class="btn btn-primary" id="btn-create-restaurant">
    Add your restaurant to our website!
  </div>
<% end %>

