<h1><%= @restaurant.name %></h1>

<h4>Address</h4>
<%= @restaurant.address %>

<% if @restaurant.phone_number %>
  <h4>Contact details</h4>
  <%= @restaurant.phone_number %>
<% end %>

<% if @restaurant.reviews.first %>
  <h4>Reviews</h4>
  <table>
    <thead>
      <th>Review content</th>
      <th>Review rating</th>
    </thead>
    <tbody>
    <% @restaurant.reviews.each do |review| %>
      <tr>
        <td><%= review.content %></td>
        <td><%= review.rating %>/5</td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to "Add a review!", new_restaurant_review_path(@restaurant) %>

<br><br>

<%= link_to "Return to restaurants index", root_path %>
