<div class="header padded text-center">
  <h1><%= @restaurant.name %></h1>

  <div id="address">
    <h4>Address -</h4>
    <%= @restaurant.address %>
  </div>
  <% if @restaurant.phone_number %>
    <div id="phone-number">
      <h4>Contact details -</h4>
      <%= @restaurant.phone_number %>
    </div>
  <% end %>

</div>
<% if @restaurant.reviews.first %>
  <div class="padded">
    <hr>
    <div class="container text-center">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-4 text-justify">
          <h4>Rating</h4>
        </div>
        <div class="col-xs-4 text-justify">
          <h4>Content</h4>
        </div>

      </div>
      <% @restaurant.reviews.each do |review| %>

      <div class="row">
        <div class="col-xs-2 col-xs-offset-4 text-justify">
          <%= raw ("#{icon('star-o')} " * review.rating.to_i)  %>
        </div>
        <div class="col-xs-4 text-justify">
          <p><%= review.content %></p>
          <% if review.user_id == @user.id%>
            <%= link_to "Edit", edit_creator_restaurant_review_path(review) %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <hr>
  </div>
<% end %>

<%= render "reviews/newreview", review: @restaurant.reviews.build, restaurant: @restaurant %>

<%= link_to root_path, class: "btn-homepage" do %>
  <div class="btn btn-success">
    Return to restaurants index
  </div>
<% end %>
